 .box{
            width:100%;
            height: 100%;
            background-color: skyblue;
            text-align: center;
        }
 .link{
    color: red; 
    border: 2px solid green;
    text-decoration: none;
 }
 .inline-block-element {
  display: inline-block;
  width: 150px;
  height: 100px;
  text-align: center;
}

.element1 {
  background-color: lightblue;
}

.element2 {
  background-color: lightgreen;
}

/* Example of margin properties */
.margin p{
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    border: 2px solid red;
}