 .box{
        width:300px;
        margin: auto;
        background-color: burlywood;
        text-align: center;
        border: 1px solid black;
        }
 .link{
    color: red; 
    border: 2px solid green;
    text-decoration: none;
 }
 .inline-block-element {
  display: inline-block;
  width: 150px;
  height: 100px;
  text-align: center;
}

.element1 {
  background-color: lightblue;
}

.element2 {
  background-color: lightgreen;
}

/* Example of Margin And Padding properties */
.margin p{
    margin: 10px;
    padding: 10px 20px 30px 40px;
    border: 2px solid red;
    font-weight: bold;
}